@charset "UTF-8";

html,button,input,select,textarea {
	color:#222;
}

body {
	font-size:1em;
	line-height:1.4;
}

::-moz-selection {
	background:#b3d4fc;
	text-shadow:none;
}

::selection {
	background:#b3d4fc;
	text-shadow:none;
}

hr {
	margin:1em 0;
	padding:0;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
}

img {
	vertical-align:middle;
}

fieldset {
	margin:0;
	padding:0;
	border:0;
}

textarea {
	resize:vertical;
}

.chromeframe {
	margin:.2em 0;
	padding:.2em 0;
	background:#ccc;
	color:#000;
}

.ir {
	overflow:hidden;
	border:0;
	background-color:transparent;
	*text-indent:-9999px;
}

.ir:before {
	display:block;
	width:0;
	height:150%;
	content:"";
}

.hidden {
	display:none!important;
	visibility:hidden;
}

.visuallyhidden {
	position:absolute;
	overflow:hidden;
	clip:rect(0 0 0 0);
	margin:-1px;
	padding:0;
	width:1px;
	height:1px;
	border:0;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	position:static;
	overflow:visible;
	clip:auto;
	margin:0;
	width:auto;
	height:auto;
}

.invisible {
	visibility:hidden;
}

@media print {
	* {
		background:transparent!important;
		box-shadow:none!important;
		color:#000!important;
		text-shadow:none!important;
	}
	
	a,a:visited {
		text-decoration:underline;
	}
	
	a[href]:after {
		content:" (" attr(href) ")";
	}
	
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content:"";
	}
	
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	
	thead {
		display:table-header-group;
	}
	
	tr,img {
		page-break-inside:avoid;
	}
	
	img {
		max-width:100%!important;
	}
	
	@page {
		margin:.5cm;
	}
	
	p,h2,h3 {
		orphans:3;
		widows:3;
	}
	
	h2,h3 {
		page-break-after:avoid;
	}
}