/*----------------------------------------------
----------------------custom--------------------
----------------------------------------------*/
/*----------Mobile---------- */
/*--Global-- */
/*--Header-- */
/*--Content-- */
/*--Footer-- */
#copyright {
  text-align: center; }

#dev {
  text-align: center; }

/*--Helper-- */
.hlpCenter {
  text-align: center; }

/*----------Tablet---------- */
@media only screen and (min-width: 481px) {
  /*--Global-- */
  /*--Header-- */
  /*--Content-- */
  /*--Footer-- */
  /*--Helper-- */ }
/*----------Desktop---------- */
@media only screen and (min-width: 769px) {
  /*--Global-- */
  /*--Header-- */
  #main_nav {
    margin-top: 1em; }
    #main_nav ul {
      margin: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
      *zoom: 1; }
      #main_nav ul li {
        list-style-image: none;
        list-style-type: none;
        margin-left: 0;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        white-space: nowrap; }
      #main_nav ul li + li {
        margin-left: 16px; }

  /*--Content-- */
  /*--Footer-- */
  #copyright {
    text-align: left; }

  #dev {
    text-align: right; }

  /*--Helper-- */ }
