@charset "UTF-8";

/* Use this stylesheet for all your custom styles and media queries. You can always put everything in the same stylesheet when you're done. I just prefer to work this way to simplify everything during the build process.
*/

/*
Custom CSS for IE (prefix with .iex for IE 6, 7 & 8 or .ie6, .ie7 or .ie8 for specific targeting.)
*/

/*
End Custom CSS for IE
*/

/* 
------------------Mobile------------------
*/

/*------------------
-------Global-------
------------------*/
body {
}

h1,h2,h3,h4,h5,h6 {
	font-weight:400;
}

nav ul {
	margin:0;
	padding:0;
}

nav li {
	margin:0;
	padding:0;
}

/*------------------
-------Header-------
------------------*/

/*------------------
--------Body--------
------------------*/

/*------------------
-------Footer-------
------------------*/

/*------------------
-------Helper-------
------------------*/

/*
------------------Tablet------------------
*/
@media only screen and (min-width: 481px) {
	/*------------------
	-------Header-------
	------------------*/
	
	/*------------------
	--------Body--------
	------------------*/
	
	/*------------------
	-------Footer-------
	------------------*/
	
}

/*
------------------Desktop------------------
*/
@media only screen and (min-width: 769px) {
	/*------------------
	-------Header-------
	------------------*/
	
	/*------------------
	--------Body--------
	------------------*/
	
	/*------------------
	-------Footer-------
	------------------*/
	
}