@charset "UTF-8";

body {
	color:#333;
	font-weight:400;
	font-size:1em;
	font-family:Arial,Helvetica,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:400;
}

h1 {
	margin:.7em 0 -.2em;
	font-size:1.5em;
	line-height:1.5em;
}

h2 {
	margin:.85em 0 -.18em;
	font-size:1.375em;
	line-height:1.5em;
}

h3 {
	margin:1.05em 0 -.15em;
	font-size:1.25em;
	line-height:1.5em;
}

h4 {
	margin:1.35em 0 -.18em;
	font-size:1.125em;
	line-height:1.5em;
}

h5 {
	margin:2.1em 0 -.2em;
	font-size:.875em;
	line-height:1.5em;
}

h6 {
	margin:2.6em 0;
	font-size:.75em;
	line-height:1.5em;
}

h1+p {
	margin-top:1.35em;
}

h2+p {
	margin-top:1.35em;
}

h3+p {
	margin-top:1.35em;
}

h4+p {
	margin-top:1.35em;
}

h5+p {
	margin-top:1.35em;
}

h6+p {
	margin-top:-.7em;
}

p,pre {
	position:relative;
	top:.4em;
	margin:1.5em 0;
	line-height:1.5em;
}

p+p,pre+pre {
	margin-top:1.5em;
}