!!!
/[if lt IE 8]
	<html class="iex">
	<link rel="stylesheet" type="text/css" href="assets/css/ie.css">
%html.no-js
	/ <![endif]
	%head
		%meta{:charset => "utf-8"}/
		%title Blok Grid System
		%meta{:content => "", :name => "description"}/
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
		%link{:href => "assets/css/style.css", :rel => "stylesheet", :type => "text/css"}/
	%body
		.clearfix.container
			.col_m_12.col_t_6.col_d_3.nth_t_2.nth_d_4
				:markdown

					# header

					Banksy organic skateboard sustainable blog. Thundercats iPhone Banksy, biodiesel 90's pop-up forage. IPhone direct trade flannel yr craft beer, Williamsburg shabby chic sustainable Odd Future ethical authentic. Tonx forage kale chips, fashion axe vinyl 8-bit Neutra VHS keffiyeh pickled. Truffaut hoodie you probably haven't heard of them polaroid, mixtape sartorial fashion axe Neutra Godard umami Cosby sweater farm-to-table direct trade semiotics. Pour-over single-origin coffee keytar Wes Anderson, pop-up fap yr craft beer brunch sartorial High Life swag butcher Tonx lomo. Roof party aesthetic plaid kale chips trust fund.
			.col_m_12.col_t_6.col_d_3.nth_t_2.nth_d_4
				:markdown

					# header

					Banksy organic skateboard sustainable blog. Thundercats iPhone Banksy, biodiesel 90's pop-up forage. IPhone direct trade flannel yr craft beer, Williamsburg shabby chic sustainable Odd Future ethical authentic. Tonx forage kale chips, fashion axe vinyl 8-bit Neutra VHS keffiyeh pickled. Truffaut hoodie you probably haven't heard of them polaroid, mixtape sartorial fashion axe Neutra Godard umami Cosby sweater farm-to-table direct trade semiotics. Pour-over single-origin coffee keytar Wes Anderson, pop-up fap yr craft beer brunch sartorial High Life swag butcher Tonx lomo. Roof party aesthetic plaid kale chips trust fund.
			.col_m_12.col_t_6.col_d_3.nth_t_2.nth_d_4
				:markdown

					# header

					Banksy organic skateboard sustainable blog. Thundercats iPhone Banksy, biodiesel 90's pop-up forage. IPhone direct trade flannel yr craft beer, Williamsburg shabby chic sustainable Odd Future ethical authentic. Tonx forage kale chips, fashion axe vinyl 8-bit Neutra VHS keffiyeh pickled. Truffaut hoodie you probably haven't heard of them polaroid, mixtape sartorial fashion axe Neutra Godard umami Cosby sweater farm-to-table direct trade semiotics. Pour-over single-origin coffee keytar Wes Anderson, pop-up fap yr craft beer brunch sartorial High Life swag butcher Tonx lomo. Roof party aesthetic plaid kale chips trust fund.
			.col_m_12.col_t_6.col_d_3.nth_t_2.nth_d_4
				:markdown

					# header

					Banksy organic skateboard sustainable blog. Thundercats iPhone Banksy, biodiesel 90's pop-up forage. IPhone direct trade flannel yr craft beer, Williamsburg shabby chic sustainable Odd Future ethical authentic. Tonx forage kale chips, fashion axe vinyl 8-bit Neutra VHS keffiyeh pickled. Truffaut hoodie you probably haven't heard of them polaroid, mixtape sartorial fashion axe Neutra Godard umami Cosby sweater farm-to-table direct trade semiotics. Pour-over single-origin coffee keytar Wes Anderson, pop-up fap yr craft beer brunch sartorial High Life swag butcher Tonx lomo. Roof party aesthetic plaid kale chips trust fund.