//General Styling
form {
	position: relative;
	color: $text-color;
    padding: $base-size;
    background: lighten($body-color, 10%);
	border:$border01;
}

fieldset {
	border: none;
	margin: 0 auto;
	padding: 15px;
	display: block;
	width: 520px;
	position: relative;
	background-color: #fafafa;

	&:hover {
		background-color: #fff;
	}
}

label {
	display: block;
	width: auto;
	text-align: left;
	vertical-align: baseline;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

input[type="search"]::-webkit-search-decoration {
	display: none;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	@include box-sizing(border-box);
  	@include background-clip(padding-box);
  	@include border-radius(0);
  	-webkit-appearance: none;
  	background-color: white;
  	border: 1px solid;
  	border-color: darken($body-color, 20%);
  	color: black;
  	outline: 0;
  	margin: 0;
  	padding: .5em .2em;
  	text-align: left;
  	font-size: 13px;
  	vertical-align: top;
  	// IE7
  	*padding-top: 2px;
  	*padding-bottom: 1px;
  	*height: auto;
  	&[disabled] {
  	  background-color: #eeeeee;
  	}
}

input[type="text"],
input[type="email"],
input[type="url"] {
	width: 50%;
}

textarea {
	width: 100%;
	height: 6em;
}

input:hover,
textarea:hover {}
input:focus,
textarea:focus {
	color:#111111;
	outline:none;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  @include box-shadow(none);
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
  &:focus,
  &:active {
    @include box-shadow(none);
  }
}

button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  @include border-radius(4px);
  @include background-clip(padding-box);
  background: #dddddd image-url("button.png") repeat-x;
  @include background-image(linear-gradient(white, #dddddd));
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  &:hover {
    @include background-image(linear-gradient(white, #eeeeee 1px, #cccccc));
    text-decoration: none;
  }
  &:active {
    @include background-image(linear-gradient(#dddddd, #eeeeee));
    @include box-shadow(inset rgba(black, 0.25) 0 1px 2px 0);
    border-color: #999999 #bbbbbb #dddddd;
  }
  // IE7
  *padding-top: 2px;
  *padding-bottom: 0;
  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

a.button {
  // IE7
  *padding-bottom: 3px;
}

button {
  // IE7
  *padding-top: 1px;
  *padding-bottom: 1px;
}

// Separate rule for Firefox.
// Separate rule for IE, too.
// Cannot stack with WebKit's.
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #888888;
}

select[size],
select[multiple] {
  height: auto;
}

// Set height back to normal,
// for Opera, WebKit, and IE.
select[size="0"],
select[size="1"] {
  height: 1.8em;
  // IE7
  *height: auto;
}

// Tweaks for Safari + Chrome.
@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
    width: 25%;
  }
  select,
  select[size="0"],
  select[size="1"] {
    // Base64 encoded "../images/select_arrow.gif"
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border-color: #666666;
  }
}

optgroup {
  color: black;
  font-style: normal;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

//CSS3 Styling of checkboxes and buttons

input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] + span,
input[type="radio"] + span,
input[type="checkbox"] + span::before,
input[type="radio"] + span::before {
	vertical-align: middle;
}

input[type="checkbox"], 
input[type="radio"] {
    position: absolute;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    width: 12px;
    height: 12px;
}

input[type="checkbox"] + span,
input[type="radio"] + span,
input[type="checkbox"] + span::before,
input[type="radio"] + span::before {
	display: inline-block;
}