* {
  @include box-sizing(border-box);
}
body {
  margin: 0;
  font: {
  	family: $body-font-family;
  	size: $base-font-size;
    weight: $body-weight;
  }
  line-height: $base-line-height;
  color: $body-text-color;
  background-color: $body-color;
}
// Links
a,
a:visited {
	color: $link-normal-color;
	text-decoration: $link-text-decoration;
	&:hover,
	&:focus,
	&:active {
		color: $link-hover-color;
	}
}

span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }
 
.clearfix:after {
  clear: both; }
 
.clearfix {
  zoom: 1; }