/*

Author: Jordan Trainor

Website: http://blokgrid.co.uk / http://digitaldapper.com / http://jordantrainor.co.uk

Contact: info@blokgrid.co.uk

*/
.iex {
	@import "compass";
	@import "compass/layout";
	@import "blok/normalize";
	@import "blok/variables";
	@import "blok/mixins";
	@import "blok/columns";
	@import "blok/gridMobile";
	@import "blok/customMobile";
	@import "blok/gridTablet";
	@import "blok/customTablet";
	@import "blok/gridDesktop";
	@import "blok/customDesktop";
	.container {
		width: 960px;
	}
}