$viewport: m;
[class*='col_'] {
  position: relative;
  display: block;
  float: left; 
  @include gutter;}
[class*='row_'] {
  position: relative;
  display: block;
  float: left;
  margin: 0; }
.container {
  width: $mobile_width; 
  margin-right: auto;
  margin-left: auto;
  padding: $container_padding; }
img {
  max-width: 100%;
}
@import "../grid";