$col_1: 100% / $grid-columns * 1;
$col_2: 100% / $grid-columns * 2;
$col_3: 100% / $grid-columns * 3;
$col_4: 100% / $grid-columns * 4;
$col_5: 100% / $grid-columns * 5;
$col_6: 100% / $grid-columns * 6;
$col_7: 100% / $grid-columns * 7;
$col_8: 100% / $grid-columns * 8;
$col_9: 100% / $grid-columns * 9;
$col_10: 100% / $grid-columns * 10;
$col_11: 100% / $grid-columns * 11;
$col_12: 100% / $grid-columns * 12;
$col_13: 100% / $grid-columns * 13;
$col_14: 100% / $grid-columns * 14;
$col_15: 100% / $grid-columns * 15;
$col_16: 100% / $grid-columns * 16;
$col_17: 100% / $grid-columns * 17;
$col_18: 100% / $grid-columns * 18;
$col_19: 100% / $grid-columns * 19;
$col_20: 100% / $grid-columns * 20;
$col_21: 100% / $grid-columns * 21;
$col_22: 100% / $grid-columns * 22;
$col_23: 100% / $grid-columns * 23;
$col_24: 100% / $grid-columns * 24;
$col_quarter: 100% / 4;
$col_third: 100% / 3;
$col_half: 100% / 2;
$col_two_thirds: 100% / 3 * 2;
$col_three_quarters: 100% / 4 * 3;
$col_full: 100%;
$col_gldn_sml: 38%;
$col_gldn_lrg: 62%;