.clearfix:before,
.clearfix:after,
#row:before,
#row:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
 
.clearfix:after,
#row:after {
  clear: both;
}
 
.clearfix,
#row {
  zoom: 1;
}
$viewport: m;
[class*='col_'] { 
  padding: $gutter;
  position: relative;
  display: block;
  float: left;
  @include box-sizing(border-box); }
[class*='row_'] {
  position: relative;
  display: block;
  float: left;
  clear: both;
  margin: 0; }
.container {
  margin-right: auto;
  margin-left: auto;
  padding: $mobile-container-padding;
  width: $mobile-width;
  @include box-sizing(border-box);  }
@import "grid";